<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
	{% load static %}	
    <link rel="stylesheet" href={%static "home-styles.css"%}>
</head>
<body>
    <nav class="navbar">
        <a href={%url "home"%}><div class="home-button">Schocial</div></a>
        <div class="user-button"><a href={%url "user"%}><img src={%static "user-icon.png"%} height="80px" width="80px"></a></div>
    </nav>
    <div class="notebook-page">
        <div class="content">
            {% for post in userpost %}
                {% if post.text and post.img %}
                <div class="post">
                    {% if post.pfp %}
                        <img class="pfp" src="/media/{{ post.pfp }}" width="40px" alt="pfp">
                    {% else %}
                        <img class="pfp" src="/media/profile-placeholder.png" width="40px" alt="pfp">
                    {% endif %}
                    <br>
                    <span class="user">{{ post.username }} </span>
                    <br>
                    <span class="user">
                        Grade: {{ post.grade }}
                    </span>
                    <hr>
                    <img src="/media/{{ post.img }}" width="150px" alt="image">
                    <br>
                    <span class="text">{{post.text}}</span>
                    <br>
                </div>
                {% else %}
                    {% if post.img %}
                    <div class="post">
                        {% if post.pfp %}
                            <img class="pfp" src="/media/{{ post.pfp }}" width="40px" alt="pfp">
                        {% else %}
                            <img class="pfp" src="/media/profile-placeholder.png" width="40px" alt="pfp">
                        {% endif %}
                        <br>
                        <span class="user">{{ post.username }} </span>
                        <br>
                        <span class="user">
                            Grade: {{ post.grade }}
                        </span>
                        <hr>
                        <img src="/media/{{ post.img }}" width="150px" alt="image">
                        <br>
                    </div>
                    {% elif post.text %}
                    <div class="post">
                        {% if post.pfp %}
                            <img class="pfp" src="/media/{{ post.pfp }}" width="40px" alt="pfp">
                        {% else %}
                            <img class="pfp" src="/media/profile-placeholder.png" width="40px" alt="pfp">
                        {% endif %}
                        <br>
                        <span class="user">{{ post.username }} </span>
                        <br>
                        <span class="user">
                            Grade: {{ post.grade }}
                        </span>
                        <hr>
                        <span class="text">{{post.text}}</span>
                        <br>
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <div class="hidden-post"><br></div>
            <div class="hidden-post"><br></div>
            <div class="hidden-post"><br></div>
            <div class="hidden-post"><br></div>
        </div>
        <form method="POST" action="{% url "home" %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="entry-area">
                <input name="text" type="text" class="text-entry" placeholder="Enter text...">
                <label for="image-input" class="image-import-button">Image</label>
                <input name="img" type="file" id="image-input" class="hidden-input" accept="image/*">
                <input type="submit" class="post-button" name="post">
            </div>  
        </form>   
    </div>
</body>
</html>



